/** HEADER **/
#header {
  position: -webkit-sticky;
  position: sticky;
  height: auto;
  top: -14px;
  padding-top: 14px;
  background-color: #fff;
  z-index: 200;
}
header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  transition: 0.4s;
}
header:hover {
  border-bottom: 1px solid #24cd88;
}
.header-inner {
  position: relative;
  width: 100%;
  height: 62px;
  padding: 0 14px;
  max-width: 1400px;
  min-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.header-inner > .mobile-menu-btn,
.header-inner > .search-slide-btn {
  display: none;
}
.header-inner > div,
.header-inner .logo {
  display: inline-block;
  vertical-align: top;
}

.header-inner .logo {
  width: 120px;
  padding-top: 16px;
  margin-right: 50px;
}
.header-inner .logo img {
  width: 100%;
}

/* HEADER > search area */
.header-inner .search-area {
  margin-top: 10px;
}
.header-inner .search-area > div {
  display: inline-block;
}
.search-area > .search-keyword-wrap {
  margin-right: 40px;
}
.search-area > .search-keyword-wrap > * {
  display: inline-block;
  vertical-align: middle;
}
.search-keyword-wrap #detailOpen {
  position: relative;
  display: inline-block;
  padding: 5px 10px 5px 8px;
  margin-left: 4px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  /* padding-left: 13px; */
  /* margin-left: 8px; */
  font-size: 13px;
  color: #9a9a9a;
}
.search-keyword-wrap #detailOpen::before {
  content: "";
  display: inline-block;
  /* position: absolute; */
  /* top: 48%; */
  /* left: 0; */
  width: 8px;
  height: 8px;
  margin-right: 5px;
  background: no-repeat center 100% url("../img/icon/icon-plus.svg");
  /* transform: translateY(-50%); */
  font-size: 20px;
  /* vertical-align: -2px; */
}
.search-keyword-wrap #detailOpen:hover {
  color: #24cd88;
  box-shadow: 1px 3px 12px rgba(128, 128, 128, 0.2);
}
.search-keyword-wrap #detailOpen.now-on {
  color: #24cd88;
}
.search-keyword-wrap #detailOpen:hover::before {
  background: no-repeat center 100%/100% url("../img/icon/icon-plus-24cd88.svg");
}
.search-keyword-wrap #detailOpen.now-on::before {
  background: no-repeat center 50%/100% url("../img/icon/icon-minus-24cd88.svg");
}
.search-input {
  position: relative;
}
.search-input .search-btn {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-color: rgba(88, 88, 88, 0);
  background-image: url("../img/icon/icon-search.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}
.search-input .search-btn:hover {
  background-image: url("../img/icon/icon-search-24cd88.svg");
}
.search-area input[type="text"],
.search-area input[type="date"] {
  width: 230px;
  height: 38px;
  padding-right: 10px;
  border-radius: 10px;
  text-indent: 14px;
  border: 1px solid #ddd;
}

/* .search-area input[type="text"]:focus,
.search-area input[type="date"]:focus,
.search-area input[type="text"]:hover,
.search-area input[type="date"]:hover {
  border: 1px solid #24cd88;
} */
.search-area input[type="date"] {
  width: 220px;
  text-indent: 36px;
}
.search-area input[type="date"]:hover::-webkit-calendar-picker-indicator,
.search-area input[type="date"]:focus::-webkit-calendar-picker-indicator {
  background-image: url(../img/icon/Icon-calendar-24cd88.svg);
}
.search-area > .search-date-wrap > .search-date {
  position: relative;
}
.search-date-wrap .date-title {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 13px;
  color: #9a9a9a;
}
.search-date-wrap > .search-date {
  display: inline-block;
}
.search-date-wrap > .date-start {
  margin-right: 8px;
}

.header-inner > .user-area {
  float: right;
  margin-top: 10px;
}
.user-area > .link-area {
  display: inline-block;
}
.user-area .user-profile {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  border: 1px solid #eee;
  border-radius: 50%;
  background-color: #ddd;
  background: no-repeat center/110% url(../img/main/profile.PNG);
}
.user-area .user-name {
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
}

/* detail slider */
.detail-slider {
  display: none;
  position: absolute;
  /* top: 63px; */
  top: 77px;
  left: 0;
  width: 100%;
  padding-bottom: 28px;
  background-color: #fff;
  box-shadow: 1px 3px 12px rgba(88, 88, 88, 0.2);
}
.detail-slider.now-on {
  display: block;
}
.detail-slider > .slider-inner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-width: 1000px;
  padding: 36px 14px 24px;
  margin: 0 auto;
}
.slider-inner > .cls-btn {
  top: 14px;
}

.detail-slider .search-area {
  display: none;
}

.slider-inner .detail-area-wrap {
  font-size: 0;
}

.detail-area-wrap .detail-channel-area {
  display: inline-block;
  width: calc(100% - 220px);
  box-sizing: border-box;
}
.detail-channel-area > fieldset {
  font-size: 0;
}

.detail-channel-area .search-group {
  display: inline-block;
  width: 20%;
  padding: 0px 1vw;
  border-right: 1px solid #ddd;
  vertical-align: top;
  box-sizing: border-box;
}
.detail-channel-area .search-group::after {
  content: "";
  display: block;
  clear: both;
}
.detail-channel-area .search-group:last-child {
  border-right: none;
}
.search-group > .group-title {
  display: inline-block;
  margin: 0 14px 8px 4px;
  font-size: 15px;
  font-weight: 600;
}
.search-group > .all-btn {
  float: right;
  margin-right: 5px;
  font-size: 13px;
  color: #6f6f6f;
}
.search-group > .all-btn > label {
  vertical-align: 2px;
}
.search-group > .all-btn:hover {
  color: #333;
}
.search-group-box {
  font-size: 0;
}
.search-group-box > div {
  display: inline-block;
  width: 50%;
  line-height: 2.2;
  font-size: 15px;
  white-space: nowrap;
}
.search-group-box .input-group > label,
.search-group-box .input-group > input {
  font-size: 13px;
}
.search-group-box .input-group > label {
  font-weight: 400;
  color: #666;
  vertical-align: 2px;
}

.detail-area-wrap .detail-keyword-area {
  display: inline-block;
  width: 220px;
  padding: 0 14px 0 10px;
  box-sizing: border-box;
  vertical-align: top;
}
.detail-keyword-area .detail-search {
  margin-bottom: 14px;
}
.detail-keyword-area .detail-search:last-child {
  margin-bottom: 0;
}
.detail-keyword-area .detail-search .detail-title {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 6px;
}
.detail-keyword-area .detail-search .detail-option {
  float: right;
  font-size: 12px;
}
.detail-keyword-area .detail-search .detail-option input[type="radio"] {
  margin-right: 0;
}
.detail-keyword-area .detail-search .detail-option label {
  vertical-align: 2px;
}
/* .detail-keyword-area input[type="text"] { */
input[type="text"] {
  width: calc(100% - 28px);
  height: 32px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 12px;
  text-indent: 6px;
}
.detail-keyword-area .detail-keyword input[type="text"] {
  width: 100%;
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="text"]:hover,
input[type="date"]:hover {
  border: 1px solid #24cd88;
}

.detail-keyword-area .detail-input .add-btn {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  background-color: #f7f8f8;
  border: 1px solid #bbb;
  border-radius: 4px;
  text-indent: -99999px;
}
.detail-keyword-area .detail-input .add-btn::before,
.detail-keyword-area .detail-input .add-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #555;
}

.detail-keyword-area .detail-input .add-btn::before {
  width: 8px;
  height: 1px;
}
.detail-keyword-area .detail-input .add-btn::after {
  width: 1px;
  height: 8px;
}

.slider-inner .detail-btn-area {
  float: right;
  margin-top: 20px;
}
.detail-btn-area > .preset-btn,
.detail-btn-area > .submit-btn {
  display: inline-block;
}
.detail-btn-area > .preset-btn {
  height: 40px;
  padding: 0 14px;
  border-radius: 8px;
  line-height: 40px;
  /* transition: 0.35s; */
}
.detail-btn-area > .preset-btn:hover {
  box-shadow: 1px 3px 12px rgba(128, 128, 128, 0.2);
}
.detail-btn-area > .preset-btn > .add-icon {
  color: #909090;
  font-size: 13px;
}
.detail-btn-area > .preset-btn > .add-icon::before {
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/icon-preset-24cd88.svg");
  vertical-align: -4px;
}
.detail-btn-area > .submit-btn {
  width: 196px;
  height: 40px;
  margin-left: 14px;
  margin-right: 14px;
  /* background-color: #d8d8d8; */
  background-color: #24cd88;
  border: none;
  border-radius: 8px;
  color: #fff;
}

/** FOOTER **/
footer {
  position: relative;
  width: 100%;
  margin-top: 40px;
  background-color: #ebebee;
}
.footer-inner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-width: 1000px;
  padding: 10px 14px 26px;
  margin: 0 auto;
}

.footer-top {
  width: 100%;
  line-height: 55px;
}
.footer-menu .menu-item {
  display: inline-block;
  margin-right: 25px;
}
.footer-menu .menu-item.menu-item-personal {
  font-weight: 500;
}
.footer-menu .menu-item > a {
  color: #888;
}

address > .addr-info > p {
  display: inline-block;
  position: relative;
  padding-right: 17px;
  margin-right: 14px;
}
address > .addr-info > p::after {
  content: "";
  display: block;
  position: absolute;
  top: 52%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 11px;
  background-color: #888;
}
address > .addr-info > p:last-child::after {
  display: none;
}
address > .addr-info > p > span {
  margin-right: 10px;
}
address > .copyright {
  margin-top: 6px;
}

/** ASIDE **/
/* ASIDE >> goTop 버튼 */
#goTop {
  position: fixed;
  bottom: 120px;
  right: 6vw;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  box-shadow: 1px 3px 12px rgba(88, 88, 88, 0.2);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
#goTop > .go-top-btn {
  width: 100%;
  height: 100%;
}
#goTop > .go-top-btn > img {
  width: 17px;
  margin-top: 13px;
}
#goTop:hover > .go-top-btn > img {
}

/* ASIDE >> MODAL */
#modal {
  position: relative;
  z-index: 300;
}

/* MODAL >> 컨텐츠 원문 리스트 모달 */
#showAllModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
#showAllModal.modalOn {
  display: block;
}

#showAllModal > .show-all-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 972px;
  height: 75vh;
  padding: 20px 20px 24px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 1px 3px 12px rgba(88, 88, 88, 0.2);
  overflow: hidden;
}
.show-all-wrap > .show-all-inner {
}
.show-all-inner > .show-all-top {
  height: 35px;
  line-height: 35px;
  margin-bottom: 14px;
}
.show-all-top .show-all-top-left {
  float: left;
  height: 100%;
}
.show-all-top .show-all-top-right {
  float: right;
  height: 100%;
  position: relative;
  /* margin-right: 50px; */
}
.show-all-top > div > * {
  display: inline-block;
}
.show-all-top-left .show-all-title {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  vertical-align: top;
}
.show-all-top-left .sort-option {
  position: relative;
  display: inline-block;
  margin-left: 14px;
  text-align: right;
}
.show-all-top-left .sort-option::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 43%;
  right: -17px;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
}
.show-all-top-left .sort-option.open::after {
  top: 63%;
  transform: translate(-50%, -50%) rotate(-135deg);
}
.sort-option .option-list {
  height: 0;
  overflow: hidden;
}

.show-all-top-right .search-input {
  display: inline-block;
  width: 290px;
  height: 100%;
  margin-right: 18px;
  vertical-align: top;
}
.show-all-top-right .search-input > input {
  width: 100%;
  height: 34px;
}
.show-all-top-right .file-down-btn {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
  /* margin-top: 7px; */
  /* margin-right: 12px; */
}
.show-all-top-right .file-down-btn .file-down {
  width: 24px;
  height: 24px;
  margin: 6px;
  background-color: #fff;
  background-image: url("../img/icon/icon-file.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}
.show-all-top-right .file-down-btn:hover {
  box-shadow: 1px 3px 12px rgba(128, 128, 128, 0.2);
}
.show-all-top-right .file-down-btn:hover .file-down {
  background-image: url("../img/icon/icon-file-24cd88.svg");
}
.show-all-top-right .modal-cls-btn {
  vertical-align: top;
}
#modal .cls-btn {
  position: relative;
  top: unset;
  right: unset;
}

.show-all-inner > .show-all-content {
  width: 100%;
}

.show-all-content > .content-title-wrap {
  width: 100%;
  margin-bottom: 8px;
}
.show-all-content .title-list {
  display: inline-block;
  width: calc(100% - 83px);
  font-size: 0;
}
.show-all-content .title-list > .title-item {
  display: inline-block;
  font-size: 13px;
  text-align: center;
}
.show-all-content .title-channel {
  display: inline-block;
  width: 50px;
}
.show-all-content .title-name {
  width: 45%;
}
.show-all-content .title-date {
  width: 14%;
}
.show-all-content .title-views {
  width: 10%;
}
.show-all-content .title-likes {
  width: 9%;
}
.show-all-content .title-comments {
  width: 8.5%;
}
.show-all-content .title-shares {
  width: 9%;
}
.show-all-content .title-icon {
  width: 3%;
}

.show-all-content > .content-all-wrap {
  /* max-height: 630px; */
  border-radius: 13px;
  background-color: #f5f5f5;
  box-shadow: inset 1px -1px 6px rgba(88, 88, 88, 0.1);
  overflow: hidden;
}
.show-all-content .content-list {
  width: 100%;
  height: 610px;
  padding: 14px 15px 10px 10px;
  overflow-y: scroll;
}
.show-all-content .content-item {
  height: 53px;
  margin-bottom: 8px;
  font-size: 0;
  cursor: pointer;
}
.show-all-content .content-item > .content-channel {
  display: inline-block;
  width: 40px;
  /* height: 24px; */
  height: 100%;
  background-image: url("../img/icon/icon-blog-naver.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 22px;
}
.show-all-content .content-item > .content-channel.sns-insta {
  background-image: url("../img/icon/icon-instagram.svg");
}
.show-all-content .content-item > .content-channel.sns-twitter {
  background-image: url("../img/icon/icon-twitter.svg");
}
.show-all-content .content-item > .content-channel.cafe-naver {
  background-image: url("../img/icon/icon-cafe-naver.svg");
}
.show-all-content .content-item > .content-channel.blog-naver {
  background-image: url("../img/icon/icon-blog-naver.svg");
}

.show-all-content .content-item > .content-subs-list {
  display: inline-block;
  width: calc(100% - 40px);
  height: 100%;
  padding: 8px 14px 8px 18px;
  border: 1px solid #fff;
  border-radius: 13px;
  background-color: #fff;
  box-shadow: 1px 3px 12px rgba(88, 88, 88, 0.2);
  font-size: 0;
  vertical-align: top;
}
.show-all-content .content-item:hover > .content-subs-list {
  border: 1px solid #24cd88;
}
.show-all-content .content-item .content-subs-item {
  display: inline-block;
  line-height: 35px;
  font-size: 14px;
  font-weight: 500;
  color: #888;
  text-align: center;
  vertical-align: middle;
}
.show-all-content .content-item .content-name {
  /* display: -webkit-inline-box; */
  display: inline-block;
  width: 45%;
  /* height: 35px; */
  color: #313131;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
  box-sizing: border-box;
  vertical-align: middle;
  overflow: hidden;
}
.show-all-content .content-item .content-date {
  width: 14%;
}
.show-all-content .content-item .content-views {
  width: 11%;
}
.show-all-content .content-item .content-likes {
  width: 9%;
}
.show-all-content .content-item .content-comments {
  width: 9%;
}
.show-all-content .content-item .content-shares {
  width: 9%;
}
.show-all-content .content-item .content-icon {
  width: 3%;
}

/* MODAL >> 원문 내용 모달 */
#showOriginModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
#showOriginModal.modalOn {
  display: block;
}
#showOriginModal > .show-origin-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 680px;
  /* max-height: 640px; */
  padding: 20px 20px 24px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 1px 3px 12px rgba(88, 88, 88, 0.2);
  overflow: hidden;
}
.show-origin-inner > .show-origin-top {
  height: 35px;
  line-height: 35px;
  margin-bottom: 14px;
}
.show-origin-top > .origin-top-info {
  display: inline-block;
  width: calc(100% - 50px);
}
.show-origin-top .origin-channel {
  float: left;
  font-weight: 600;
  color: #676767;
}
.show-origin-top .origin-top-right {
  float: right;
  color: #aaa;
  vertical-align: top;
}
.show-origin-top > #clsOriginList {
  float: right;
  /* display: inline-block; */
  position: relative;
  vertical-align: top;
}

.show-origin-inner > .show-origin-content {
  width: 100%;
  margin-bottom: 18px;
}
.show-origin-content > .origin-content-title {
  margin-bottom: 14px;
}
.show-origin-content > .origin-content-title > h3 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 800;
}
.show-origin-content > .origin-content-title > .origin-link-wrap {
}
.origin-link-wrap .origin-link {
  display: inline-block;
  font-size: 13px;
  color: #676767;
}
.origin-link-wrap:hover .origin-link {
  text-decoration: underline;
  color: #24cd88;
}
.origin-link-wrap .go-origin {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  color: #aaa;
}
.origin-link-wrap > a {
  display: inline-block;
}
.origin-link-wrap .go-origin > img {
  margin-left: 4px;
  width: 10px;
  vertical-align: -1px;
}
.show-origin-content > .origin-content-subs {
  min-height: 140px;
  max-height: 400px;
  padding: 14px 15px;
  background-color: #f5f5f5;
  border-radius: 13px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
  transform: skew(-0.01deg);
  color: #676767;
  word-break: keep-all;
  overflow-y: auto;
  box-shadow: inset 1px -1px 6px rgba(88, 88, 88, 0.1);
}

.show-origin-inner > .show-origin-bottom {
  width: 100%;
}
.show-origin-bottom > .origin-info-list {
}
.origin-info-list > .origin-info-item {
  display: inline-block;
  position: relative;
  padding-right: 18px;
  margin-right: 14px;
}
.origin-info-list > .origin-info-item::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 52%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #aaa;
}
.origin-info-list > .origin-info-item:last-child {
  padding-right: 0px;
  margin-right: 0px;
}
.origin-info-list > .origin-info-item:last-child::after {
  display: none;
}
.origin-info-list > .origin-info-item > * {
  display: inline-block;
  font-weight: 600;
}
.origin-info-item > .info-title {
  margin-right: 10px;
  color: #313131;
}
.origin-info-item > .info-num {
  color: #888;
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 480px) {
  /** HEADER **/
  #header {
    background-color: #f7f8f8;
  }
  #header.now-on {
    /* box-shadow: 1px 3px 12px rgba(88, 88, 88, 0.2); */
    border-bottom: 1px solid #24cd88;
  }
  header {
    background-color: #f7f8f8;
    border-bottom: none;
  }
  header:hover {
    border: none;
  }
  .header-inner {
    max-width: unset;
    min-width: unset;
    height: 48px;
    padding-top: 11px;
  }
  .header-inner .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98px;
    padding-top: 3px;
    margin-right: 0;
  }
  .header-inner > .search-area,
  .header-inner > .user-area {
    display: none;
  }

  .header-inner > .mobile-menu-btn,
  .header-inner > .search-slide-btn {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
  }
  .mobile-menu-btn > .link-area {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 16px;
  }
  .mobile-menu-btn > .link-area > .menu-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    border-radius: 50%;
    background-color: #676767;
  }
  .mobile-menu-btn > .link-area > .menu-line.line-1 {
    top: 0;
  }
  .mobile-menu-btn > .link-area > .menu-line.line-2 {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .mobile-menu-btn > .link-area > .menu-line.line-3 {
    bottom: 0;
  }
  .header-inner > .search-slide-btn {
    float: right;
    border: none;
    background-color: unset;
    background-image: url("../img/icon/icon-search-31.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
  }

  /* HEADER >> detail slider */
  .detail-slider {
    top: 0;
    left: 0;
    right: 0;
  }
  .detail-slider input[type="text"],
  .detail-slider input[type="date"] {
    font-size: 14px;
    height: 36px;
    border: 1px solid #bbb;
    border-radius: 6px;
  }
  .detail-slider input[type="text"]:focus,
  .detail-slider input[type="date"]:focus {
    border: 1px solid #24cd88;
  }

  .detail-slider > .slider-inner {
    max-width: unset;
    min-width: unset;
  }

  .slider-inner .detail-area-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .detail-area-wrap .detail-area {
    width: 316px;
  }
  .detail-area-wrap .detail-channel-area {
    order: 3;
  }
  .detail-area-wrap .detail-channel-area > h3 {
    display: inline-block;
    position: relative;
    top: unset;
    left: unset;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  .detail-area-wrap .detail-channel-area > h3::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    background-image: url("../img/icon/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .detail-area-wrap .detail-channel-area > h3.now-on::after {
    background-image: url("../img/icon/icon-minus.svg");
  }
  .detail-channel-area > fieldset {
    display: none;
    padding: 20px 14px;
    background-color: #f5f5f5;
  }
  .detail-channel-area > fieldset.now-on {
    display: block;
  }
  .detail-channel-area .search-group {
    display: block;
    width: 100%;
    border-right: none;
  }

  .detail-slider .search-area {
    display: block;
    margin-top: 34px;
    margin-bottom: 34px;
    order: 2;
  }
  .detail-slider .search-date-wrap {
    width: 100%;
    font-size: 0;
  }
  .search-area input[type="date"] {
    width: 100%;
    padding-right: 5px;
    text-indent: 8px;
  }
  .search-date-wrap > .search-date {
    width: 48%;
    margin-right: 0;
  }
  .search-date-wrap > .search-date:first-child {
    margin-right: 2%;
  }
  .search-date-wrap .date-title {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    margin-bottom: 6px;
    color: #313131;
    font-weight: 500;
    font-size: 15px;
  }

  .detail-area-wrap .detail-keyword-area {
    padding: 0;
    order: 1;
  }
  .detail-keyword-area .detail-search {
    position: relative;
    height: 60px;
    margin-bottom: 10px;
  }
  .detail-keyword-area .detail-search .detail-title,
  .detail-keyword-area .detail-search .detail-input {
    position: absolute;
    bottom: 0;
  }
  .detail-keyword-area .detail-search .detail-title {
    left: 0;
    font-size: 15px;
  }
  .detail-keyword-area .detail-search .detail-input {
    right: 0;
    width: 82%;
  }

  /** FOOTER 480px **/
  .footer-inner {
    max-width: unset;
    min-width: unset;
  }
}
