@charset "utf-8";

@import url("./reset.css");
@import url("./font.css");
@import url("./font-embedded.css");
@import url("./common.css");
@import url("./layout.css");

/** SAMPLE **/
.chart-dummy.engagement {
  width: 190px;
  height: 190px;
  background-color: lightgreen;
}
#stmtTrdSwpContainer .trend-chart-list {
  width: 100%;
  height: 300px;
  background-color: lightblue;
}
#enggTrdSwpContainer .trend-chart-list {
  width: 100%;
  height: 300px;
  background-color: lightcoral;
}
#postTrdSwpContainer .trend-chart-list {
  width: 100%;
  height: 300px;
  background-color: lightgreen;
}

.mo-section {
  display: none;
}

/** COMMON **/
.blind {
  display: block;
  position: absolute;
  top: -99999px;
  left: 0;
}

.clearFix::after {
  content: "";
  display: block;
  clear: both;
}

.center {
  position: relative;
  width: 100%;
  max-width: 1400px;
  min-width: 1000px;
  margin: 0 auto;
}

.flex-center {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.link-area {
  display: block;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

/* section */
#main .content-section .section-inner {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 24px;
}

#main .content-article {
  display: inline-block;
  width: 100%;
  padding: 20px 20px 24px;
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 1px 3px 12px rgba(88, 88, 88, 0.2);
  box-sizing: border-box;
  overflow: hidden;
}
.content-article .article-title {
  position: relative;
  margin-bottom: 16px;
}
.content-article .article-title > h3,
.content-article .article-title > .title-more {
  display: inline-block;
}
.content-article .article-title > h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Spoqa Han Sans Neo", "Noto Sans KR", Apple Gothic, "sans-serif";
  transform: skew(-0.01deg);
}
.content-article .article-title > .title-more {
  margin-left: 14px;
  font-size: 14px;
  font-weight: 500;
  color: #919191;
}
.content-article .article-title > .title-date {
  float: right;
  vertical-align: middle;
  color: #888;
}
#main .content-article.width-2-1 {
  width: calc(50% - 12px);
}
#main .content-article.width-3-2 {
  width: calc(66.66666% - 12px);
}
#main .content-article.width-3-1 {
  width: calc(33.33333% - 12px);
}
#main .content-article.width-4-3 {
  width: calc(75% - 12px);
}
#main .content-article.width-4-2 {
  width: calc(50% - 12px);
}
#main .content-article.width-4-1 {
  width: calc(25% - 12px);
}

.add-icon {
  display: inline-block;
  vertical-align: top;
}
.add-icon::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background-image: url("../img/icon/icon-preset.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: -1px;
}

#main.intro-page .section-inner::after,
.tab-section .section-inner::after,
.content-article .article-title::after {
  content: "";
  display: block;
  clear: both;
}
.content-article.fl-l {
  float: left;
}
.content-article.fl-r {
  float: right;
}
.content-article.po-r {
  position: absolute;
  top: 0;
  right: 0;
}
.content-article .article-content {
  position: relative;
}

.article-list-wrap .thumb-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0;
}
.article-list-wrap .thumb-item {
  display: inline-block;
  width: calc(33.33333% - 7px);
  font-size: 14px;
}
.article-list-wrap .thumb-item .thumb-img {
  border-radius: 10px;
  overflow: hidden;
}
.article-list-wrap .thumb-item .thumb-img img {
  width: 100%;
}
.article-list-wrap .thumb-item .thumb-title {
  margin-top: 6px;
  line-height: 1.4;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* text style */
.txt-gr {
  color: #24cd88;
}
.txt-grey {
  color: #a0a0a0;
}

.txt-sizeP {
  font-weight: 700;
  transform: skew(-0.01deg);
}
.txt-highlight {
  display: inline-block;
  position: relative;
  font-weight: 800;
  z-index: 1;
}
.txt-highlight::before {
  content: "";
  display: inline-block;
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 101%;
  height: 65%;
  background-color: #dcfef1;
  opacity: 0.8;
  z-index: -1;
}
.txt-num {
  font-family: "Spoqa Han Sans Neo", "Noto Sans KR", Apple Gothic, "sans-serif";
  font-size: 1.3em;
  vertical-align: -3px;
}
.txt-posit {
  color: #617ff8;
}
.txt-negat {
  color: #fb6761;
}

/* chart color */
.cht-grey {
  background-color: #a0a0a0;
}
.cht-gr {
  background-color: #63eab1;
}
.cht-bl {
  background-color: #699ff1;
}
.cht-yl {
  background-color: #f1f169;
}
.cht-or {
  background-color: #f19f69;
}

.article-engagement .add-icon::before,
.article-sentiment .add-icon::before {
  background-image: url("../img/icon/Icon-chart-pie.svg");
  width: 16px;
  height: 18px;
}
.article-channel-details .add-icon::before,
.article-sentiment-keyword .add-icon::before,
.article-keyword-ranking .add-icon::before,
.article-keyword-trend .add-icon::before,
.article-hottest-cafes .add-icon::before,
.article-hottest-blogers .add-icon::before,
.article-hottest-influencers .add-icon::before,
.article-hottest-top10 .add-icon::before {
  background-image: url("../img/icon/Icon-chart-list.svg");
}
.article-sentiment-channels .add-icon::before,
.article-post-trend .add-icon::before,
.article-engagement-trend .add-icon::before,
.article-sentiment-trend .add-icon::before {
  background-image: url("../img/icon/Icon-chart-stick.svg");
}
.article-keyword-association .add-icon::before {
  background-image: url("../img/icon/Icon-chart-bubble.svg");
}

/** HOME-PAGE **/
body {
  height: auto;
}
#wrap {
  width: 100%;
  height: auto;
  /* background-color: #f4f5f5; */
  background-color: #f7f8f8;
}

#main {
  min-height: 900px;
  width: 1200px;
  padding: 92px 14px 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
#main.intro-page {
  width: 1000px;
  padding: 12vh 14px 0;
}

/** INTRO PAGE **/
/* INTRO PAGE > login section */
#main.intro-page .intro-section {
  margin-bottom: 70px;
}
#main.intro-page .intro-section .section-content {
  width: 342px;
  margin: 0 auto;
}

.intro-section .section-content .logo {
  width: 200px;
  margin: 0 auto 40px;
}
.intro-section .section-content .logo img {
  width: 100%;
}

.intro-section .section-content .intro-search > input,
.intro-section .section-content .intro-login > button {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  font-size: 15px;
}
.intro-section .section-content .intro-search > input {
  border: 1px solid #24cd88;
  background-color: #fff;
  text-indent: 24px;
}
.intro-section
  .section-content
  .intro-search
  > input::-webkit-input-placeholder {
  color: #ccc;
}
.intro-section .section-content .intro-search > input::-ms-input-placeholder {
  color: #ccc;
}
.intro-section .section-content .intro-search > input::placeholder {
  color: #ccc;
  font-weight: 300;
}

.intro-section .section-content .intro-login {
  margin-top: 14px;
}
.intro-login > button {
  display: none;
  border: 1px solid #24cd88;
  background-color: #24cd88;
  color: #fff;
}
.intro-login > button.now-on {
  display: block;
}

.intro-section .section-content .intro-login-option {
  margin-top: 14px;
  font-size: 0;
}
.intro-section .section-content .intro-login-option > p {
  display: inline-block;
}
.intro-section .section-content .intro-login-option > p > * {
  font-size: 13px;
  color: #888;
  vertical-align: middle;
}
.intro-login-option > .id-remember {
  width: 40%;
}
.intro-login-option > .id-remember > input {
  width: 13px;
  height: 13px;
  margin: 0;
  margin-right: 4px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.intro-login-option > .find-user-info {
  width: 40%;
}
.intro-login-option > .join-us {
  width: 20%;
  text-align: right;
}

/* INTRO PAGE > contents section */
#main .content-section .content-article.intro-keyword-now {
  padding-bottom: 16px;
}
#main.intro-page .section-inner {
  display: block;
}
.intro-keyword-now .rank-list {
  width: 82%;
  margin: 0 auto;
}
.intro-keyword-now .rank-item {
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: #f7f8f8;
}
.intro-keyword-now .rank-item:first-child,
.intro-keyword-now .rank-item:nth-child(2),
.intro-keyword-now .rank-item:nth-child(3) {
  border: 1px solid #24cd88;
  font-weight: 500;
}
.intro-keyword-now .rank-item > .link-area {
  display: table;
  width: 100%;
  table-layout: fixed;
  line-height: 35px;
  font-size: 0;
}
.intro-keyword-now .rank-item > .link-area > * {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  vertical-align: middle;
}
.intro-keyword-now .rank-item .item-standing {
  width: 40%;
}
.intro-keyword-now .rank-item .item-title {
  width: 60%;
  white-space: nowrap;
}

/** CONTENT PAGE **/
/** CONTENT PAGE >> NOW PAGE **/
/* CONTENT PAGE >> tab section */
#main .tab-section {
  font-size: 0;
}
.tab-section article {
  display: inline-block;
  width: 50%;
  margin-bottom: 24px;
  font-size: 14px;
}
.tab-article .tab-list {
  margin-bottom: 16px;
  font-size: 0;
}
.tab-article .tab-list .tab-item {
  display: inline-block;
  padding: 11px 34px;
  color: #919191;
  font-size: 23px;
  font-weight: 700;
}
.tab-article .tab-list .tab-hottest {
  padding: 13px 28px;
}
.tab-article .tab-list .tab-item.now-on {
  border-radius: 18px;
  background-color: #fff;
  color: #24cd88;
  box-shadow: 1px 3px 12px rgba(88, 88, 88, 0.2);
}
.tab-article .tab-info-list {
  padding: 0 36px;
}
.tab-article .tab-info-list .tab-info-item {
  display: none;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
}
.tab-article .tab-info-list .tab-info-item.now-on {
  display: block;
}

#main .tab-section .tab-title-article {
  height: 126px;
  background-color: #fff;
  padding-left: 36px;
  padding-right: 36px;
}
.tab-title-article .article-inner {
  height: 100%;
}
.tab-title-article .article-content {
  display: flex;
  align-items: center;
  height: 100%;
}
.tab-title-article .tab-title {
  display: inline-block;
  line-height: 1.45;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.01rem;
}

/* CONTENT PAGE >> engagement article */
.section-inner > .article-engagement {
  width: 100%;
  font-size: 0;
}
.article-engagement .article-chart-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.article-engagement .chart-area,
.article-engagement .chart-info-area {
  display: inline-block;
  font-size: 14px;
}
.article-engagement .chart-area {
  width: 40%;
  height: 234px;
}
.article-engagement .chart-info-area {
  width: 60%;
  margin-top: -20px;
}
.chart-info-area .info-item {
  display: inline-block;
  margin-right: 45px;
}
.chart-info-area .info-item:last-child {
  margin-right: 0;
}
.chart-info-area .info-item > .item-color {
  width: 18px;
  height: 5px;
  margin-bottom: 4px;
  border-radius: 10px;
}
.chart-info-area .info-item > .item-title {
  font-size: 16px;
  font-weight: 600;
  color: #919191;
  vertical-align: middle;
}
.chart-info-area .info-item > .item-num {
  font-family: "Spoqa Han Sans Neo", "Noto Sans KR", Apple Gothic, "sans-serif";
  font-size: 22px;
  font-weight: 600;
}

/* CONTENT PAGE >> channel details article */
.section-inner > .article-channel-details {
  width: 100%;
}
.article-list-wrap .detail-item.item-title {
  line-height: 32px;
}
.article-list-wrap .detail-item.item-subs {
  position: relative;
  height: 38px;
  margin-bottom: 8px;
  line-height: 35px;
  border: 1px solid #fafafa;
  border-radius: 10px;
  background-color: #fafafa;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}
.article-list-wrap .detail-item.item-subs:hover {
  /* border: 1px solid #24cd88; */
}
.article-list-wrap .detail-item.item-subs > .item-subs-opener {
  /* content: ""; */
  display: block;
  position: absolute;
  top: 18px;
  left: 12px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-image: url("../img/icon/icon_flip_arrow.svg");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.article-list-wrap .detail-item.item-subs.now-on {
  /* overflow: unset; */
  border: 1px solid #24cd88;
}
.article-list-wrap .detail-item.item-subs.now-on > .item-subs-opener {
  background-image: url("../img/icon/icon_flipped_arrow.svg");
}
.article-list-wrap .detail-item.item-subs > .item-subs-opener:hover {
  background-color: #fff;
  box-shadow: 1px 3px 12px rgb(128 128 128 / 20%);
}

.article-list-wrap .detail-item.item-subs:last-child {
  margin-bottom: 0;
}
.article-list-wrap .detail-item > ul {
  width: 100%;
  border-radius: 10px 10px 0 0;
  font-size: 0;
  overflow: hidden;
}
.article-list-wrap .detail-item.item-subs .item-sub-list {
  transition: 0.3s;
}
.article-list-wrap .detail-item.item-subs.now-on .item-sub-list:first-of-type {
  background-color: #f4f4f4;
}
.article-list-wrap .detail-item.item-subs .item-sub-list:hover {
  background-color: #f4f4f4;
}
.article-list-wrap .detail-item > ul > li {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  vertical-align: top;
}
.article-channel-details .article-list-wrap .detail-item > ul > li {
  width: 12%;
}
.article-channel-details
  .article-list-wrap
  .detail-item
  > ul
  > li:nth-child(1) {
  width: 14%;
}
.article-channel-details
  .article-list-wrap
  .detail-item
  > ul
  > li:nth-child(2) {
  width: 23%;
}
.article-channel-details
  .article-list-wrap
  .detail-item
  > ul
  > li:nth-child(3) {
  width: 15%;
}
.detail-item > .detail-title-list {
  font-weight: 500;
}
.detail-item .detail-subs {
  color: #8b8d91;
}
.detail-item .detail-subs:first-child {
  font-weight: 500;
  color: #313131;
}
.detail-item > .item-sub-list > .detail-subs > .chart-horizontal {
  position: relative;
  width: 100%;
  padding: 6px 0;
  box-sizing: border-box;
}
.detail-item
  > .item-sub-list
  > .detail-subs
  > .chart-horizontal
  > .total-posts {
  width: 100%;
  height: 26px;
  background-color: #ebebeb;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
}
.detail-item
  > .item-sub-list
  > .detail-subs
  > .chart-horizontal
  > .total-posts:hover {
  /* transform: scale(1.05, 3); */
  /* box-shadow: 1px 3px 12px rgb(128 128 128 / 20%); */
  border: 1px solid #888;
}
.detail-item
  > .item-sub-list
  > .detail-subs
  > .chart-horizontal
  > .total-posts
  > .mid-posts {
  width: 0;
  height: 100%;
  background-color: #617ff8;
  transition: 0.3s;
}
.detail-item
  > .item-sub-list.channel-subs-list
  > .detail-subs
  > .chart-horizontal
  > .total-posts
  > .mid-posts {
  width: 0;
  height: 100%;
  background-color: #a0a0a0;
  transition: 0.35s;
}
.detail-item
  > .item-sub-list.channel-subs-list
  > .detail-subs
  > .chart-horizontal
  > .total-posts
  > .mid-posts
  > .channel-posts {
  display: block;
  width: 0;
  height: 100%;
  background-color: #63eab1;
  transition: 0.4s;
}
.detail-item > .item-sub-list > .detail-subs > .chart-horizontal > .posts-num {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

/* CONTENT PAGE >> sentiment article */

/* CONTENT PAGE >> keyword ranking article */
.article-keyword-association {
  order: 2;
}
.article-sentiment-keyword {
  order: 1;
}
.article-keyword-ranking {
  order: 3;
}

.article-rank-wrap {
  width: 100%;
}
.article-rank-wrap .rank-list {
}
.article-rank-wrap .rank-list > .rank-item.item-subs {
  border: 1px solid #fafafa;
  cursor: pointer;
}
.article-rank-wrap .rank-list > .rank-item.item-subs:hover {
  border: 1px solid #24cd88;
}
.article-rank-wrap .rank-list > .item-title {
  font-size: 0;
  font-weight: 500;
}
.article-rank-wrap .rank-list > .item-subs {
  margin-bottom: 6px;
  border-radius: 10px;
  font-size: 0;
  background-color: #fafafa;
}
.rank-list > .rank-item > * {
  display: inline-block;
  line-height: 34px;
  font-size: 14px;
  font-weight: 500;
  transform: skew(-0.01deg);
  text-align: center;
}
.rank-list > .rank-item > .item-standing {
  width: 26%;
}
.rank-list > .rank-item > .item-keyword {
  width: 40%;
  white-space: nowrap;
}
.rank-list > .rank-item > .item-num {
  width: 34%;
}
.rank-list > .rank-item.item-subs > .item-num {
  color: #8b8d91;
}

/** CONTENT PAGE >> TREND PAGE **/
.article-content > .article-content-top {
  /* display: flex;
  flex-wrap: nowrap;
  justify-content: right; */
  position: relative;
  width: 100%;
  height: 22px;
  margin: -10px 0 8px;
}
.article-content > .article-content-top::after {
  content: "";
  display: block;
  clear: both;
}
.article-content-top > .color-info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.article-content-top .color-list {
}
.article-content-top .color-item {
  display: inline-block;
  margin-left: 10px;
}
.article-content-top .color-item:first-child {
  margin-left: 0;
}
.article-content-top .color-item > .item-color,
.article-content-top .color-item > .item-name {
  display: inline-block;
}
.article-content-top .color-item > .item-color {
  width: 20px;
  height: 6px;
  background-color: #ddd;
  border-radius: 10px;
  vertical-align: 1px;
}
/* TREND page 내 차트 아이템 구분 색상 */
.article-content-top .color-item-sns > .item-color {
  background-color: #db9bee;
}
.article-content-top .color-item-community > .item-color {
  background-color: #a9f9d6;
}
.article-content-top .color-item-blog > .item-color {
  background-color: #9ec0f3;
}
.article-content-top .color-item-cafe > .item-color {
  background-color: #f3f394;
}
.article-content-top .color-item-news > .item-color {
  background-color: #f3bd9a;
}
.article-content-top .color-item-views > .item-color {
  background-color: #69f1b6;
}
.article-content-top .color-item-comments > .item-color {
  background-color: #699ff1;
}
.article-content-top .color-item-likes > .item-color {
  background-color: #f1f169;
}
.article-content-top .color-item-shares > .item-color {
  background-color: #f19f69;
}
.article-content-top .color-item-posit > .item-color {
  background-color: #617ff8;
}
.article-content-top .color-item-neutral > .item-color {
  background-color: #f9f959;
}
.article-content-top .color-item-negat > .item-color {
  background-color: #fb6761;
}
.article-content-top .color-item > .item-name {
  margin-left: 2px;
  line-height: 22px;
  font-size: 12px;
  font-weight: 500;
}
.article-content-top > .period-select,
.article-content-top > .method-select {
  float: right;
  /* position: absolute;
  top: 0;
  right: 0; */
  /* margin-left: 80px; */
}
.article-sentiment-keyword .article-content-top,
.article-keyword-ranking .article-content-top {
  width: 100%;
  margin: 0 0 8px;
}
.article-sentiment-keyword .article-content-top > .method-select,
.article-keyword-ranking .article-content-top > .method-select {
  float: none;
  text-align: center;
}
.article-content-top .period-list,
.article-content-top .method-list {
  font-size: 0;
}
.article-content-top .period-list > .period-item,
.article-content-top .method-list > .method-item {
  display: inline-block;
  padding: 1px 10px 0;
  margin-left: 6px;
  line-height: 18px;
  font-size: 11px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.article-content-top .period-list > .period-item:first-child,
.article-content-top .method-list > .method-item:first-child {
  margin-left: 0;
}
.article-content-top .period-list > .period-item:hover,
.article-content-top .method-list > .method-item:hover {
  border: 1px solid #ccc;
}
.article-content-top .period-list > .period-item.now-on,
.article-content-top .method-list > .method-item.now-on {
  border: 1px solid #24cd88;
  color: #24cd88;
  cursor: default;
}

.article-keyword-trend .article-rank-wrap {
  width: 100%;
  padding: 0 36px;
  box-sizing: border-box;
}
.article-keyword-trend .article-rank-wrap .trend-rank-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.article-keyword-trend .trend-rank-wrap .trend-rank-list {
  width: 230px;
  text-align: center;
}
.trend-rank-wrap .trend-rank-list > h4 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #24cd88;
}
.trend-rank-list .rank-list > .rank-item.item-title {
  font-weight: 400;
}
.trend-rank-list .rank-list > .rank-item.item-subs {
  white-space: nowrap;
}
.trend-rank-list .rank-list > .rank-item > .item-standing {
  width: 16%;
}
.trend-rank-list .rank-list > .rank-item > .item-keyword {
  width: 36%;
  letter-spacing: -0.05rem;
  white-space: nowrap;
}
.trend-rank-list .rank-list > .rank-item > .item-num {
  width: 28%;
  white-space: nowrap;
}
.trend-rank-list .rank-list > .rank-item > .item-move {
  width: 20%;
}

.item-move > em {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon/icon-rank-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px;
  vertical-align: -4px;
}
.item-move.none > em,
.item-move.new > em {
  display: none;
}
.item-move.new,
.item-move.up {
  color: #fb6761;
}
.item-move.up > em {
  background-image: url("../img/icon/icon-rank-up.svg");
}
.item-move.down {
  color: #617ff8;
}
.item-move.down > em {
  background-image: url("../img/icon/icon-rank-down.svg");
}

/* article-content내 좌우 슬라이드 버튼 */
.article-content .slide-btn-wrap > .slide-btn {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fefefe;
  background-color: #fff;
  box-shadow: 1px 3px 12px rgba(128, 128, 128, 0.2);
}
.article-content .slide-btn-wrap > .slide-btn.slide-left {
  left: 0;
}
.article-content .slide-btn-wrap > .slide-btn.slide-right {
  right: 0;
}
.article-content .slide-btn-wrap > .slide-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-image: url("../img/icon/icon-slide-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.article-content .slide-btn-wrap > .slide-btn.slide-left::after {
  transform: translate(-50%, -50%) rotate(180deg);
  left: 48%;
}
.article-content .slide-btn-wrap > .slide-btn.slide-right::after {
  left: 52%;
}

/** CONTENT PAGE >> HOTTEST PAGE **/
.article-hottest-wrap > .hottest-list {
  width: 100%;
}
.article-hottest-wrap > .hottest-list > .hottest-item {
  margin-bottom: 8px;
  font-size: 0px;
  cursor: pointer;
}
.hottest-item > .icon-area,
.hottest-item > .contents-area {
  display: inline-block;
  vertical-align: middle;
}
.hottest-item > .icon-area {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background-image: url("../img/icon/icon-cafe-naver.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.hottest-item > .icon-none {
  background-image: none;
}
.hottest-item > .icon-cafe-naver {
  background-image: url("../img/icon/icon-cafe-naver.svg");
}
.hottest-item > .icon-blog-naver {
  background-image: url("../img/icon/icon-blog-naver.svg");
}
.hottest-item > .icon-insta {
  background-image: url("../img/icon/icon-instagram.svg");
}
.hottest-item > .icon-twit {
  background-image: url("../img/icon/icon-twitter.svg");
}
.hottest-item > .contents-area {
  display: inline-block;
  width: calc(100% - 36px);
  height: 34px;
  font-size: 0;
  text-align: center;
}
.hottest-item.item-title > .contents-area {
  height: 28px;
}
.hottest-item.item-subs > .contents-area {
  border-radius: 10px;
  background-color: #fafafa;
  border: 1px solid #fafafa;
}
.hottest-item.item-subs > .contents-area:hover {
  border: 1px solid #24cd88;
}
.hottest-item > .contents-area > * {
  display: inline-block;
  line-height: 34px;
  font-size: 14px;
  font-weight: 500;
}
.hottest-item > .contents-area > .item-name {
  width: 52%;
}
.hottest-item.item-subs > .contents-area > .item-name {
  text-align: left;
  padding-left: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.hottest-item > .contents-area > .item-post-num,
.hottest-item > .contents-area > .item-engagement {
  width: 22%;
  vertical-align: top;
  white-space: nowrap;
}
.hottest-item.item-subs > .contents-area > .item-post-num,
.hottest-item.item-subs > .contents-area > .item-engagement {
  color: #8b8d91;
}
.article-hottest-wrap > .list-more-btn {
  width: 100%;
  height: 38px;
  margin-top: 8px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  border: 1px solid #24cd88;
  color: #24cd88;
  transition: 0.3s;
}
.article-hottest-wrap > .list-more-btn:hover {
  background-color: #24cd88;
  color: #fff;
}

/* CONTENT PAGE >> HOTTEST PAGE >> hottest top10 */
.hottest-wide-list .hottest-item > .contents-area {
  height: 38px;
}
.hottest-wide-list .item-subs > .contents-area {
  color: #8b8d91;
}
.hottest-wide-list .hottest-item > .contents-area > * {
  line-height: 38px;
  vertical-align: top;
}
.hottest-wide-list .item-title > .contents-area {
  height: 24px;
}
.hottest-wide-list .item-title > .contents-area > * {
  line-height: 24px;
}
.hottest-wide-list .hottest-item > .contents-area .item-post-title {
  width: 43%;
  padding-right: 14px;
}
.hottest-wide-list .hottest-item > .contents-area .item-date {
  width: 9%;
}
.hottest-wide-list .hottest-item > .contents-area .item-id {
  width: 12%;
}
.hottest-wide-list .hottest-item > .contents-area .item-comments,
.hottest-wide-list .hottest-item > .contents-area .item-views,
.hottest-wide-list .hottest-item > .contents-area .item-likes,
.hottest-wide-list .hottest-item > .contents-area .item-shares {
  width: 9%;
}
.hottest-wide-list .item-subs > .contents-area .item-post-title {
  padding-left: 14px;
  text-align: left;
  color: #313131;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.article-hottest-wrap.hottest-wide > .list-more-btn {
  height: 42px;
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 480px) {
  /** SAMPLE **/
  .chart-dummy.engagement {
  }

  .pc-section {
    display: none;
  }
  .mo-section {
    display: block;
  }

  /** COMMON 480px **/
  #main .content-article.width-2-1 {
    width: 100%;
  }
  #main .content-article.width-3-2 {
    width: 100%;
  }
  #main .content-article.width-3-1 {
    width: 100%;
  }
  #main .content-article.width-4-3 {
    width: 100%;
  }
  #main .content-article.width-4-2 {
    width: 100%;
  }
  #main .content-article.width-4-1 {
    width: 100%;
  }

  .content-article.fl-l {
    float: none;
  }
  .content-article.fl-r {
    float: none;
  }
  .content-article.po-r {
    position: relative;
    top: unset;
    right: unset;
  }

  #main .content-section .section-inner {
    display: block;
  }

  .content-article .article-title > h3 {
    font-size: 18px;
  }
  .content-article .article-title > .title-more {
    margin-left: 8px;
    font-size: 13px;
  }

  .article-buzz-news .article-list-wrap,
  .article-youtube-hot .article-list-wrap {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding-bottom: 10px;
    margin-bottom: -10px;
    overflow-x: auto;
  }
  .article-list-wrap .thumb-list {
    width: calc(180px * 3 + 14px * 2 + 40px);
  }
  .article-list-wrap .thumb-item {
    width: 180px;
  }
  .article-list-wrap .thumb-item:first-child {
    margin-left: 20px;
  }
  .article-list-wrap .thumb-item:last-child {
    margin-right: 20px;
  }

  /** MAIN 480px **/
  #main {
    width: 100%;
    padding: 78px 14px 30px;
  }
  #main.intro-page {
    width: 100%;
  }

  /** INTRO PAGE 480px **/
  /* INTRO PAGE > login section 480px */
  #main.intro-page .intro-section {
    margin-bottom: 120px;
  }
  #main.intro-page .intro-section .section-content {
    width: 300px;
  }

  .intro-section .section-content .logo {
    width: 150px;
    margin-bottom: 24px;
  }
  .intro-section .section-content .intro-search > input,
  .intro-section .section-content .intro-login > button {
    height: 45px;
    font-size: 14px;
  }

  #main .content-section .content-article.intro-keyword-now {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  #main .content-section .content-article.intro-keyword-now {
    padding-bottom: 24px;
  }

  /** CONTENT PAGE 480px **/
  /** CONTENT PAGE >> NOW PAGE 480px **/
  #main .content-article {
    margin-bottom: 14px;
  }

  .tab-section article {
    width: 100%;
    margin-bottom: 14px;
  }
  .tab-article .tab-list {
    margin-bottom: 0;
  }
  .tab-article .tab-list .tab-item {
    padding: 8px 20px;
    font-size: 20px;
  }
  .tab-article .tab-list .tab-item.now-on {
    border-radius: 15px;
  }
  .tab-article .tab-info-list {
    display: none;
  }
  #main .tab-section .tab-title-article {
    height: auto;
    padding: 20px 24px;
  }
  .tab-title-article .article-content {
    display: block;
  }
  .tab-title-article .tab-title {
    font-size: 17px;
  }

  /** CONTENT PAGE >> NOW PAGE >> engagement 480px **/
  .article-engagement .article-chart-wrap {
    display: block;
  }
  .article-engagement .chart-area {
    width: auto;
    height: 254px;
    padding-bottom: 70px;
  }
  .article-engagement .chart-info-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .article-engagement .chart-info-area > .chart-info-list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0;
  }
  .chart-info-area .info-item {
    display: inline-block;
    margin-right: 0;
  }
  .chart-info-area .info-item.info-engagement {
    position: absolute;
    right: 10px;
    bottom: 130px;
    display: block;
  }
  .chart-info-area .info-item.info-engagement > .item-title {
    font-size: 15px;
  }
  .chart-info-area .info-item.info-engagement > .item-num {
    font-size: 21px;
  }
  .chart-info-area .info-item.info-views {
    width: 31%;
  }
  .chart-info-area .info-item.info-comments {
    width: 31%;
  }
  .chart-info-area .info-item.info-likes {
    width: 22%;
  }
  .chart-info-area .info-item.info-shares {
    width: 16%;
  }
  .chart-info-area .info-item > .item-title {
    font-size: 14px;
  }
  .chart-info-area .info-item > .item-num {
    margin-top: -2px;
    font-size: 19px;
  }

  /** CONTENT PAGE >> NOW PAGE >> channel details 480px **/
  .article-card-wrap {
    width: calc(100% + 40px);
    margin-left: -20px;
    overflow-x: scroll;
  }
  .detail-card-list {
    width: calc(210px * 5 + 14px * 4 + 40px);
    padding: 0 20px;
    font-size: 0;
    margin-bottom: 12px;
  }
  .detail-card-list > .card-item {
    display: inline-block;
    width: 210px;
    padding: 16px 20px;
    margin-right: 14px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 1px 3px 12px rgba(88, 88, 88, 0.2);
    font-size: 14px;
  }
  .detail-card-list > .card-item:last-child {
    margin-right: 0;
  }
  .detail-card-list .card-item > .item-title {
    margin-bottom: 14px;
    font-size: 17px;
    font-weight: 600;
  }
  .detail-card-list .card-item > .card-sub-list {
    width: 100%;
  }
  .card-sub-list > .sub-item {
    margin-bottom: 10px;
  }
  .card-sub-list > .sub-item:last-child {
    margin-bottom: 0;
  }
  .card-sub-list > .sub-item::after {
    content: "";
    display: block;
    clear: both;
  }
  .card-sub-list > .sub-item .sub-title,
  .card-sub-list > .sub-item .sub-subs {
    display: block;
    font-weight: 500;
  }
  .card-sub-list > .sub-item .sub-title {
    float: left;
  }
  .card-sub-list > .sub-item .sub-subs {
    float: right;
    color: #8b8d91;
  }

  #main .article-keyword-association {
    /* width: 50%; */
  }
  .article-sentiment-keyword,
  .article-keyword-ranking {
    display: inline-block;
  }
  .article-keyword-ranking {
  }

  #main .now-ranking-section > .section-inner {
    /* width: 200%; */
  }

  /** CONTENT PAGE >> TREND PAGE **/

  .article-content > .article-content-top {
    height: auto;
    margin-top: 0;
  }
  .article-content-top > .period-select,
  .article-content-top > .method-select {
    float: none;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    width: 100%;
  }
  .article-content-top > .color-info {
    position: static;
    top: unset;
    left: unset;
    transform: none;
  }
  .article-content-top .color-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }
  .article-content-top .color-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .article-content-top .color-item > .item-color {
    /* display: inline-block; */
    width: 14px;
  }
  .article-content-top .color-item > .item-name {
    margin-left: 4px;
    line-height: 1;
    font-size: 11px;
  }

  /* TREND PAGE >> keyword trend */
  .article-keyword-trend .article-rank-wrap .trend-rank-wrap {
    width: 400%;
  }
  #main .content-article.article-keyword-trend {
    overflow: hidden;
  }
  .article-keyword-trend .article-rank-wrap {
    /* overflow-x: scroll; */
  }
  .article-content .slide-btn-wrap > .slide-btn.slide-left {
    left: -16px;
  }
  .article-content .slide-btn-wrap > .slide-btn.slide-right {
    right: -16px;
  }

  /** CONTENT page >> HOTTEST page **/

  /* HOTTEST page >> cafe top10 */
  .hottest-item.item-subs > .contents-area > .item-name {
    padding-left: 8px;
  }

  /* HOTTEST page >> post top10 */
  .hottest-item > .icon-area {
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
  .hottest-wide-list .item-subs > .contents-area .item-post-title {
    padding-left: 8px;
  }
  .hottest-wide-list .hottest-item > .contents-area .item-post-title {
    padding-right: 8px;
  }
  .article-hottest-top10 .hottest-item .item-date,
  .article-hottest-top10 .hottest-item .item-id,
  .article-hottest-top10 .hottest-item .item-comments,
  .article-hottest-top10 .hottest-item .item-likes,
  .article-hottest-top10 .hottest-item .item-shares {
    display: none;
  }
  .hottest-wide-list .hottest-item > .contents-area .item-post-title {
    width: 74%;
  }
  .hottest-wide-list .hottest-item > .contents-area .item-views {
    width: 26%;
  }
}
