@charset "utf-8";

@import url("./reset.css");
@import url("./font.css");
@import url("./font-embedded.css");
@import url("./common.css");
@import url("./layout.css");

/** SAMPLE **/
#main .content-section.section-sample {
  width: 50%;
}
#main .content-section.section-sample .content-article {
  height: 300px;
}

/** COMMON **/
.article-engagement .add-icon::before,
.article-sentiment .add-icon::before {
  background-image: url("../img/icon/Icon-chart-pie.svg");
  width: 16px;
  height: 18px;
}
.article-channel-details .add-icon::before,
.article-sentiment-keyword .add-icon::before,
.article-keyword-ranking .add-icon::before,
.article-keyword-trend .add-icon::before,
.article-hottest-cafes .add-icon::before,
.article-hottest-blogers .add-icon::before,
.article-hottest-influencers .add-icon::before,
.article-hottest-top10 .add-icon::before {
  background-image: url("../img/icon/Icon-chart-list.svg");
}
.article-sentiment-channels .add-icon::before,
.article-post-trend .add-icon::before,
.article-engagement-trend .add-icon::before,
.article-sentiment-trend .add-icon::before {
  background-image: url("../img/icon/Icon-chart-stick.svg");
}
.article-keyword-association .add-icon::before {
  background-image: url("../img/icon/Icon-chart-bubble.svg");
}

/** HOME-PAGE **/
body {
  height: auto;
}
#wrap {
  width: 100%;
  height: auto;
  /* background-color: #f4f5f5; */
  background-color: #f7f8f8;
}

#main {
  min-height: 900px;
  width: 1200px;
  padding: 30px 14px;
  margin: 0 auto;
  box-sizing: border-box;
}
#main.intro-page {
  /* width: 100%; */
  /* max-width: 1000px; */
  width: 1000px;
  /* padding: 20vh 14px 0; */
  padding: 12vh 14px 0;
  /* background-color: #f7f8f8; */
}

/** INTRO PAGE **/
/* INTRO PAGE > login section */
#main.intro-page .intro-section {
  margin-bottom: 70px;
}
#main.intro-page .intro-section .section-content {
  width: 342px;
  margin: 0 auto;
}

.intro-section .section-content .logo {
  width: 200px;
  margin: 0 auto 40px;
}
.intro-section .section-content .logo img {
  width: 100%;
}

.intro-section .section-content .intro-search > input,
.intro-section .section-content .intro-login > button {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  font-size: 15px;
}
.intro-section .section-content .intro-search > input {
  border: 1px solid #24cd88;
  background-color: #fff;
  text-indent: 24px;
}
.intro-section
  .section-content
  .intro-search
  > input::-webkit-input-placeholder {
  color: #ccc;
}
.intro-section .section-content .intro-search > input::-ms-input-placeholder {
  color: #ccc;
}
.intro-section .section-content .intro-search > input::placeholder {
  color: #ccc;
  font-weight: 300;
}

.intro-section .section-content .intro-login {
  margin-top: 14px;
}
.intro-login > button {
  display: none;
  border: 1px solid #24cd88;
  background-color: #24cd88;
  color: #fff;
}
.intro-login > button.now-on {
  display: block;
}

.intro-section .section-content .intro-login-option {
  margin-top: 14px;
  font-size: 0;
}
.intro-section .section-content .intro-login-option > p {
  display: inline-block;
}
.intro-section .section-content .intro-login-option > p > * {
  font-size: 13px;
  color: #888;
  vertical-align: middle;
  /* font-weight: 300; */
}
.intro-login-option > .id-remember {
  width: 40%;
}
.intro-login-option > .id-remember > input {
  width: 13px;
  height: 13px;
  margin: 0;
  margin-right: 4px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.intro-login-option > .find-user-info {
  width: 40%;
}
.intro-login-option > .join-us {
  /* float: right; */
  width: 20%;
  text-align: right;
}

/* INTRO PAGE > contents section */
#main .content-section .content-article.intro-keyword-now {
  padding-bottom: 16px;
}
#main.intro-page .section-inner {
  display: block;
}
.intro-keyword-now .rank-list {
  width: 82%;
  margin: 0 auto;
}
.intro-keyword-now .rank-item {
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: #f7f8f8;
}
.intro-keyword-now .rank-item:first-child,
.intro-keyword-now .rank-item:nth-child(2),
.intro-keyword-now .rank-item:nth-child(3) {
  border: 1px solid #24cd88;
  font-weight: 500;
}
.intro-keyword-now .rank-item:first-child {
  /* border: 1px solid #fbc400; */
}
.intro-keyword-now .rank-item:nth-child(2) {
  /* border: 1px solid #b5b8bc; */
}
.intro-keyword-now .rank-item:nth-child(3) {
  /* border: 1px solid #caa789; */
}
.intro-keyword-now .rank-item > .link-area {
  display: table;
  width: 100%;
  table-layout: fixed;
  line-height: 35px;
  font-size: 0;
}
.intro-keyword-now .rank-item > .link-area > * {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  vertical-align: middle;
}
.intro-keyword-now .rank-item .item-standing {
  width: 40%;
}
.intro-keyword-now .rank-item .item-title {
  width: 60%;
  white-space: nowrap;
}

/** CONTENT PAGE **/
/** CONTENT PAGE >> NOW PAGE **/
/* CONTENT PAGE >> tab section */
#main .tab-section {
  font-size: 0;
}
.tab-section article {
  display: inline-block;
  width: 50%;
  margin-bottom: 24px;
  font-size: 14px;
}
.article-content {
  /* min-height: 150px; */
}
.tab-article .tab-list {
  margin-bottom: 16px;
  font-size: 0;
}
.tab-article .tab-list .tab-item {
  display: inline-block;
  padding: 11px 34px;
  font-size: 22px;
  font-weight: 600;
  color: #919191;
}
.tab-article .tab-list .tab-hottest {
  padding: 13px 28px;
}
.tab-article .tab-list .tab-item.now-on {
  border-radius: 18px;
  background-color: #fff;
  color: #24cd88;
  box-shadow: 1px 3px 12px rgba(88, 88, 88, 0.2);
}
.tab-article .tab-info-list {
  padding: 0 36px;
}
.tab-article .tab-info-list .tab-info-item {
  display: none;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}
.tab-article .tab-info-list .tab-info-item.now-on {
  display: block;
}

#main .tab-section .tab-title-article {
  height: 126px;
  background-color: #fff;
  padding-left: 36px;
  padding-right: 36px;
}
.tab-title-article .article-inner {
  height: 100%;
}
.tab-title-article .article-content {
  display: flex;
  align-items: center;
  height: 100%;
}
.tab-title-article .tab-title {
  display: inline-block;
  line-height: 1.45;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.01rem;
}

/* CONTENT PAGE >> engagement article */
.section-inner > .article-engagement {
  width: 100%;
  font-size: 0;
}
.article-engagement .article-chart-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.article-engagement .chart-area,
.article-engagement .chart-info-area {
  display: inline-block;
  font-size: 14px;
}
.article-engagement .chart-area {
  width: 40%;
  height: 234px;
}
.article-engagement .chart-info-area {
  width: 60%;
  margin-top: -20px;
}
.chart-info-area .info-item {
  display: inline-block;
  margin-right: 45px;
}
.chart-info-area .info-item:last-child {
  margin-right: 0;
}
.chart-info-area .info-item > .item-color {
  width: 18px;
  height: 5px;
  margin-bottom: 4px;
  border-radius: 10px;
}
.chart-info-area .info-item > .item-title {
  font-size: 15px;
  font-weight: 500;
  color: #919191;
}
.chart-info-area .info-item > .item-num {
  font-size: 22px;
  font-weight: 600;
}

/* CONTENT PAGE >> channel details article */
.section-inner > .article-channel-details {
  width: 100%;
}
.article-channel-details .article-list-wrap {
}
.article-list-wrap .detail-item {
}
.article-list-wrap .detail-item.item-title {
  line-height: 32px;
}
.article-list-wrap .detail-item.item-subs {
  position: relative;
  height: 38px;
  margin-bottom: 8px;
  line-height: 35px;
  border: 1px solid #fafafa;
  border-radius: 10px;
  background-color: #fafafa;
  overflow: hidden;
  transition: 0.4s;
  box-sizing: border-box;
}
.article-list-wrap .detail-item.item-subs:hover {
  border: 1px solid #24cd88;
}
.article-list-wrap .detail-item.item-subs::before {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  left: 12px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("../img/icon/icon_flip_arrow.svg");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.article-list-wrap .detail-item.item-subs.now-on {
  overflow: unset;
  border: 1px solid #24cd88;
}
.article-list-wrap .detail-item.item-subs.now-on::before {
  background-image: url("../img/icon/icon_flipped_arrow.svg");
}

.article-list-wrap .detail-item.item-subs:last-child {
  margin-bottom: 0;
}
.article-list-wrap .detail-item > ul {
  width: 100%;
  border-radius: 10px 10px 0 0;
  font-size: 0;
}
.article-list-wrap .detail-item.item-subs.now-on .item-sub-list:first-child {
  background-color: #f4f4f4;
}
.article-list-wrap .detail-item > ul > li {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  vertical-align: top;
}
.article-channel-details .article-list-wrap .detail-item > ul > li {
  width: 12%;
}
.article-channel-details
  .article-list-wrap
  .detail-item
  > ul
  > li:nth-child(1) {
  width: 14%;
}
.article-channel-details
  .article-list-wrap
  .detail-item
  > ul
  > li:nth-child(2) {
  width: 23%;
}
.article-channel-details
  .article-list-wrap
  .detail-item
  > ul
  > li:nth-child(3) {
  width: 15%;
}
.detail-item > .detail-title-list {
  font-weight: 500;
}
.detail-item .detail-subs {
  color: #8b8d91;
}
.detail-item .detail-subs:first-child {
  font-weight: 500;
  color: #313131;
}
.detail-item > .item-sub-list > .detail-subs > .chart-horizontal {
  position: relative;
  width: 100%;
  padding: 6px 0;
  box-sizing: border-box;
}
.detail-item
  > .item-sub-list
  > .detail-subs
  > .chart-horizontal
  > .total-posts {
  width: 100%;
  height: 26px;
  background-color: #ebebeb;
  border-radius: 8px;
  overflow: hidden;
}
.detail-item
  > .item-sub-list
  > .detail-subs
  > .chart-horizontal
  > .total-posts
  > .mid-posts {
  /* width: 40%; */
  width: 0;
  height: 100%;
  background-color: #617ff8;
  transition: 0.3s;
}
.detail-item
  > .item-sub-list.channel-subs-list
  > .detail-subs
  > .chart-horizontal
  > .total-posts
  > .mid-posts {
  width: 0;
  height: 100%;
  background-color: #a0a0a0;
  transition: 0.35s;
}
.detail-item
  > .item-sub-list.channel-subs-list
  > .detail-subs
  > .chart-horizontal
  > .total-posts
  > .mid-posts
  > .channel-posts {
  display: block;
  width: 0;
  height: 100%;
  background-color: #63eab1;
  transition: 0.4s;
}
.detail-item > .item-sub-list > .detail-subs > .chart-horizontal > .posts-num {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

/* CONTENT PAGE >> sentiment article */

/* CONTENT PAGE >> keyword ranking article */
.article-rank-wrap {
  width: 100%;
}
.article-rank-wrap .rank-list {
  /* width: 100%; */
}
.article-rank-wrap .rank-list > .rank-item.item-subs {
  border: 1px solid #fafafa;
  cursor: pointer;
  transition: 0.3s;
}
.article-rank-wrap .rank-list > .rank-item.item-subs:hover {
  border: 1px solid #24cd88;
}
.article-rank-wrap .rank-list > .item-title {
  font-size: 0;
  font-weight: 500;
}
.article-rank-wrap .rank-list > .item-subs {
  margin-bottom: 6px;
  border-radius: 10px;
  font-size: 0;
  background-color: #fafafa;
}
.rank-list > .rank-item > * {
  display: inline-block;
  font-size: 13px;
  text-align: center;
  line-height: 34px;
}
.rank-list > .rank-item > .item-standing {
  width: 26%;
}
.rank-list > .rank-item > .item-keyword {
  width: 40%;
  white-space: nowrap;
}
.rank-list > .rank-item > .item-num {
  width: 34%;
}
.rank-list > .rank-item.item-subs > .item-num {
  color: #8b8d91;
}

/** CONTENT PAGE >> TREND PAGE **/
.article-keyword-trend {
}
.article-keyword-trend .article-rank-wrap {
  width: 100%;
  padding: 0 36px;
  box-sizing: border-box;
}
.article-keyword-trend .article-rank-wrap .trend-rank-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.article-keyword-trend .trend-rank-wrap .trend-rank-list {
  width: 230px;
  text-align: center;
}
.trend-rank-wrap .trend-rank-list > h4 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #636565;
}
.trend-rank-list .rank-list > .rank-item.item-title {
  font-weight: 400;
}
.trend-rank-list .rank-list > .rank-item.item-subs {
  white-space: nowrap;
}
.trend-rank-list .rank-list > .rank-item > .item-standing {
  width: 16%;
}
.trend-rank-list .rank-list > .rank-item > .item-keyword {
  width: 36%;
  letter-spacing: -0.05rem;
  white-space: nowrap;
}
.trend-rank-list .rank-list > .rank-item > .item-num {
  width: 28%;
  white-space: nowrap;
}
.trend-rank-list .rank-list > .rank-item > .item-move {
  width: 20%;
}

.item-move > em {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon/icon-rank-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px;
  vertical-align: -4px;
}
.item-move.none > em,
.item-move.new > em {
  display: none;
}
.item-move.new,
.item-move.up {
  color: #fb6761;
}
.item-move.up > em {
  background-image: url("../img/icon/icon-rank-up.svg");
}
.item-move.down {
  color: #617ff8;
}
.item-move.down > em {
  background-image: url("../img/icon/icon-rank-down.svg");
}

/* article-content내 좌우 슬라이드 버튼 */
.article-content .slide-btn-wrap > .slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  box-shadow: 1px 3px 12px rgba(128, 128, 128, 0.2);
}
.article-content .slide-btn-wrap > .slide-btn.slide-left {
  left: 0;
}
.article-content .slide-btn-wrap > .slide-btn.slide-right {
  right: 0;
}
.article-content .slide-btn-wrap > .slide-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-image: url("../img/icon/icon-slide-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.article-content .slide-btn-wrap > .slide-btn.slide-left::after {
  transform: translate(-50%, -50%) rotate(180deg);
  left: 48%;
}
.article-content .slide-btn-wrap > .slide-btn.slide-right::after {
  left: 52%;
}

/** CONTENT PAGE >> HOTTEST PAGE **/
.article-hottest-wrap > .hottest-list {
  width: 100%;
}
.article-hottest-wrap > .hottest-list > .hottest-item {
  margin-bottom: 8px;
  font-size: 0px;
  cursor: pointer;
}
.hottest-item > .icon-area,
.hottest-item > .contents-area {
  display: inline-block;
  vertical-align: middle;
}
.hottest-item > .icon-area {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  /* vertical-align: baseline; */
  background-image: url("../img/icon/icon-cafe-naver.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.hottest-item > .icon-none {
  background-image: none;
}
.hottest-item > .icon-cafe-naver {
  background-image: url("../img/icon/icon-cafe-naver.svg");
}
.hottest-item > .icon-blog-naver {
  background-image: url("../img/icon/icon-blog-naver.svg");
}
.hottest-item > .icon-insta {
  background-image: url("../img/icon/icon-instagram.svg");
}
.hottest-item > .icon-twit {
  background-image: url("../img/icon/icon-twitter.svg");
}
.hottest-item > .contents-area {
  display: inline-block;
  width: calc(100% - 36px);
  height: 34px;
  /* padding: 0 14px; */
  font-size: 0;
  text-align: center;
}
.hottest-item.item-title > .contents-area {
  height: 28px;
}
.hottest-item.item-subs > .contents-area {
  border-radius: 10px;
  background-color: #fafafa;
  border: 1px solid #fafafa;
}
.hottest-item.item-subs > .contents-area:hover {
  border: 1px solid #24cd88;
}
.hottest-item > .contents-area > * {
  display: inline-block;
  line-height: 34px;
  font-size: 13px;
}
.hottest-item > .contents-area > .item-name {
  width: 52%;
}
.hottest-item.item-subs > .contents-area > .item-name {
  text-align: left;
  padding-left: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.hottest-item > .contents-area > .item-post-num,
.hottest-item > .contents-area > .item-engagement {
  width: 22%;
  vertical-align: top;
  white-space: nowrap;
}
.hottest-item.item-subs > .contents-area > .item-post-num,
.hottest-item.item-subs > .contents-area > .item-engagement {
  color: #8b8d91;
}
.article-hottest-wrap > .list-more-btn {
  width: 100%;
  height: 38px;
  margin-top: 8px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  border: 1px solid #24cd88;
  color: #24cd88;
  transition: 0.3s;
}
.article-hottest-wrap > .list-more-btn:hover {
  background-color: #24cd88;
  color: #fff;
}

/* CONTENT PAGE >> HOTTEST PAGE >> hottest top10 */
.hottest-wide-list .hottest-item > .contents-area {
  height: 38px;
}
.hottest-wide-list .item-subs > .contents-area {
  color: #8b8d91;
}
.hottest-wide-list .hottest-item > .contents-area > * {
  line-height: 38px;
  vertical-align: top;
}
.hottest-wide-list .item-title > .contents-area {
  height: 24px;
}
.hottest-wide-list .item-title > .contents-area > * {
  line-height: 24px;
}
.hottest-wide-list .hottest-item > .contents-area .item-post-title {
  width: 43%;
  padding-right: 14px;
}
.hottest-wide-list .hottest-item > .contents-area .item-date {
  width: 9%;
}
.hottest-wide-list .hottest-item > .contents-area .item-id {
  width: 12%;
}
.hottest-wide-list .hottest-item > .contents-area .item-comments,
.hottest-wide-list .hottest-item > .contents-area .item-views,
.hottest-wide-list .hottest-item > .contents-area .item-likes,
.hottest-wide-list .hottest-item > .contents-area .item-shares {
  width: 9%;
}
.hottest-wide-list .item-subs > .contents-area .item-post-title {
  padding-left: 14px;
  text-align: left;
  color: #313131;
  /* font-weight: 500; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.article-hottest-wrap.hottest-wide > .list-more-btn {
  height: 42px;
}
